body {
    margin:0;
}

#activate_btn {
    position: absolute;
    top: 500px;
    left: 0px;
}

#deactivate_btn {
    position: absolute;
    top: 500px;
    left: 100px;
}

#attach_btn_blue {
    position: absolute;
    top: 580px;
    left: 0px;
}
#attach_btn_red {
    position: absolute;
    top: 600px;
    left: 0px;
}
#detach_btn {
    position: absolute;
    top: 600px;
    left: 100px;
}

#jump_btn {
    position: absolute;
    top: 500px;
    left: 200px;
}

#disable_left_btn {
    position: absolute;
    top: 700px;
    left: 0px;
}

#enable_left_btn {
    position: absolute;
    top: 680px;
    left: 0px;
}

.ball {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
}

#blue, .ball {
    background-color:#0000ff;
    top: 700px;
    left: 200px;
}

#red, .ball {
    background-color: #ff0000;
    top: 600px;
    left: 800px;
}

#platform {
    background-color: #00ff00;
    width: 1200px;
    height: 100px;
    position: absolute;
    top: 800px;
}